.App {
  text-align: center;
  background-color: rgb(71, 71, 71);
  color: white
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.SWLogo {
  width: 100px;
  align-items: left;
}


/* EPISODE PAGE STYLING */
.episodeCard {
  border-style: solid;
  width: 450px;
  border-color: rgb(243, 243, 41);
}

.episodeContainer {
  display: inline-grid;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-evenly;
  grid-template-columns: 450px 450px 450px;
}

.link {
  color:rgb(243, 243, 41);
  font-weight: bold;
}

.episodeTitle {

}


/* HOME PAGE STYLING */
.homePageButton {
  width: 150px;
  height: 50px;
  background-color: rgb(243, 243, 41);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* color: black; */
}

/* LOGIN PAGE STYLING */

.avatarSelection {
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin: 10px;
  border-style: solid;
  border-color: rgb(243, 243, 41);
}









