.App {
  text-align: center;
  background-color: rgb(71, 71, 71);
  color: white
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.SWLogo {
  max-width: 99.3%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(50, 50, 157);
}


/* EPISODE PAGE STYLING */
.episodeCard {
  border-style: solid;
  width: 450px;
  height: 300px;
  border-color: rgb(243, 243, 41);
  border-radius: 8px;
  display: inline-table;
  margin: 10px;
  box-shadow: 10px 5px 5px black;
}

.episodeContainer {
  display: inline-block;
  transform: translate(0%, 0%);
}

.link {
  color: rgb(243, 243, 41);
  font-weight: bold;
}

.episodeTitle {
  font-weight: bold;
}


/* HOME PAGE STYLING */
.homePageButton {
  width: 25%;
  height: 50px;
  background-color: rgb(243, 243, 41);
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
  font-size: large;
  color: black;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

.homePageButton:hover {
  text-decoration: underline;
}

.pageHeader {
text-align: left;
margin-left: 50px;
width: 600px;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* LOGIN PAGE STYLING */

.avatarSelection {
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin: 10px;
  border-style: solid;
  border-color: rgb(243, 243, 41);
  border-radius: 8px;
}

/* PROFILE STYLING */
.profilePicture {
  display: inline-block;
  width: 200px;
  border-style: solid;
  border-color: rgb(243, 243, 41);
  border-radius: 8px;
  text-align: left;
  float: left;
  /* position: absolute; */
  right: 2px;
}

/* NAVBAR */

.navBar {
  /* position: absolute;  */
  float: right;

}

.navBar img {
  width: 50px;
  margin: 8px;
}



/* NEWS STORY */

.newsContainer {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "1" "2" "3" "4" "5";

}

#harrisonStoryContainer {
 display: inline-block;
 grid-column-start: 1;
 text-align: center;
 /* margin: 20px; */
}

#harrisonStoryContainer h2 {
  display: inline-block;
  grid-column-start: 1;
  text-align: center;
  text-decoration: underline;
  /* margin: 20px; */
 }

#mollyStoryContainer {
  display: inline-block;
  grid-column-start: 2;
}

#mollyStoryContainer h2 {
  text-align: center;
  text-decoration: underline;
}

.harrisonStory {
  border-style: solid;
  border-radius: 8px;
  width: 400px;
  background-color: black;
  border-color: rgb(234, 215, 4);
  color: rgb(234, 215, 4);
  font-family: 'Pathway Gothic One', sans-serif;
  margin: 10px 
}

.harrisonStory a {
  color: rgb(234, 215, 4);
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
}

.harrisonStory img {
  border-style: solid;
  border-radius: 8px;
}

.mollyStory {
  border-style: solid;
  border-radius: 8px;
  width: 400px;
  background-color: rgb(218, 143, 3);
  border-color: black;
  color: black;
  font-family: 'Pathway Gothic One', sans-serif;
  margin: 10px
}

.mollyStory a {
  color: black;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
}

.mollyStory img {
border-style: solid;
border-radius: 8px;
}

.previewImage {
  height: 150px;
}


.contactForm {
  text-align: center;
}